@charset "UTF-8";


.header {

    background: linear-gradient(to top, 

    #000000, /* 검정색 */
    #475f77  /* 미드나잇 블루 */

);
    
    color: #ffffff;
    padding: 10px 0; /* 상하 패딩만 설정하여 좌우 여백 제거 */
    width: 100%; /* 전체 너비 설정 */
    box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
     position: fixed;  
    top: 0; /* 화면 상단에 위치 */
    left: 0; /* 화면 왼쪽에 위치 */
    z-index: 1000; /* 다른 요소들보다 위에 위치 */
    /* 헤더 아래의 여백을 추가 */   
    height: 150px;
    
}

/* body {
    margin-top: 1000px; 헤더의 높이만큼 여백 추가
} */

/* #333333; */


/* .navbar {


	background: linear-gradient(to right, 
    rgba(200, 200, 200, 0.5), 연한 회색
    rgba(100, 100, 100, 0.5)  짙은 회색
);
	
	
	
    padding: 10px;
    margin-bottom: 20px;
} */

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}




/* HTML 및 BODY 설정 */
html, body {
	
    margin: 0; /* 브라우저 기본 여백 제거 */
    padding: 0; /* 브라우저 기본 패딩 제거 */
    width: 100%; /* 전체 너비 설정 */
    box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
}


/* 네비게이션 바 설정 */
.navbar {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    width: 100%; /* 전체 너비 설정 */
    max-width: 1200px; /* 최대 너비 설정 (선택 사항) */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top:50px;
}

.header .navbar h1 {
    font-size: 32px; /* h1의 글자 크기 설정 */
    margin: 0px; /* 좌우 여백 추가 (여기서 조정 가능) */
    color: #fff; /* 글자 색상 흰색으로 설정 */
    text-align: center; /* 중앙 정렬 */
    flex-grow: 1; /* 남는 공간을 차지하여 중앙 정렬 유지 */
    text-decoration: none; /*링크 밑줄 제거*/
}

/* 링크 색상 설정 */
.header .navbar h1 a {
	  color: #ffffff;
    /* color: inherit;*/ /* 부모의 글자 색상 상속 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.nav-links li {
    margin-left: 30px; /* 각 항목 사이에 여백 추가 */
}

.nav-links li:first-child {
    margin-left: 0; /* 첫 번째 항목은 여백 제거 */
}

.nav-links a {
	color: #ffffff;
    /* color: #fff; */ /* 링크 색상 흰색으로 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-weight: bold; /* 글자 두께 설정 */
    font-size: 18px; /* 링크 글자 크기 설정 */
}

.nav-links a:hover {
	text-decoration: none; /*링크 밑줄 제거*/
    /*  text-decoration: underline;  링크에 마우스를 올렸을 때 밑줄 추가 */
}

/* 페이지 내용 설정 */
.home-page {
    padding: 20px; /* 좌우 패딩 설정 */
    padding-top: 100px; /* 헤더 높이만큼 여백 추가 */
    /* background-color: #f0f0f0; */
    min-height: 100vh; /* 화면 전체 높이 설정 */
    box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
}

/* 슬라이더 설정 */
.promo-container {
    margin: 0 auto; /* 가운데 정렬 */
    max-width: 1000px; /* 원하는 최대 너비로 설정 */
    overflow: hidden; /* 슬라이더가 컨테이너를 넘어서지 않도록 설정 */
}

.image-slide {
    max-width: 100%; /* 부모 컨테이너의 최대 너비에 맞추기 */
    height: auto;
    border-radius: 10px;
}

/* slick-carousel 기본 스타일 */
.slick-slide {
    display: flex;
    justify-content: center; /* 슬라이드 내용 중앙 정렬 */
}

.slick-track {
    display: flex;
    align-items: center; /* 슬라이드 중앙 정렬 */
}