/* 기본 스타일 설정 */
html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    text-align: center;
<<<<<<< HEAD
    box-sizing: border-box;
    background-color: #000000;
}
=======
    box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
    background-color: #000000; 
} 


>>>>>>> branch 'master' of https://github.com/HyukChoi08/MGcinema.git

/* 헤더 설정 */
.header {
    background: linear-gradient(to top, 
        #000000, 
        #475f77 
    );
    color: #ffffff;
    min-width: 1200px; /* 최소 너비 설정 */
    margin: 0 auto;
    height: auto; /* 높이를 자동으로 설정 */
    padding-top: 40px; /* 위아래 여백 추가 */
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 중앙 정렬 */
    position: relative;
}

/* HIII CINEMA 고정 */
.logo {
    position: absolute; /* 절대 위치 */
    left: 50%; /* 화면의 50% 위치 */
    transform: translateX(-50%); /* 중앙 정렬 */
    margin: 0;
    font-size: 45px;
    color: #ffffff; /* 하얀색으로 변경 */
    text-align: center; /* 중앙 정렬 */
}

.logo a {
    color: #ffffff; /* 하얀색으로 변경 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}

/* 내비게이션 바 설정 */
.header-container {
	
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: space-between; /* 양쪽 정렬 */
    width: 100%;
    padding: 0 20px; /* 좌우 여백 추가 */
    position: relative; /* 자식 요소의 절대 위치를 위해 추가 */
}

.navbar2 {
	width: 100%;
    padding-left:1250px;
    display: flex;
    margin-top: 30px;
	justify-content: center;
}

/* navbar1은 아래쪽 중앙 정렬 */
.navbar1 {
    width: 100%; /* 전체 너비 */
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    margin-top: 70px; /* 위쪽 여백 추가 */
}


/* .nav-links2 {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    display: flex;
    align-items: center;
} */

/* 내비게이션 링크 설정 */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 15px; /* 각 항목 사이에 좌우 여백 추가 */

}
.navbar1 .nav-links li {
    padding-left:25px; /* 각 항목 사이에 좌우 여백 추가 */
    padding-right:25px;
    font-size:20px;
}

.nav-links a {
    color: #ffffff; /* 링크 색상 하얀색으로 변경 */
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
	text-decoration: none; /* 링크의 밑줄 제거 */
    /* text-decoration: underline;  *//* 호버 시 밑줄 추가 */
}
