@charset "UTF-8";

/* 헤더 설정 */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 네비게이션 바 설정 */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header .navbar h1 {
    font-size: 32px;
    margin: 0;
    color: #fff;
    text-align: center;
    flex-grow: 1;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* 푸터 설정 */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}