@charset "UTF-8";



body {
    background-color:black;
    color:white;
}

.maincontainer {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color:black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
    position: relative;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1, footer p {
    margin: 0;
}

/* 컨테이너 스타일 */
.container {
	width:1000px;
    margin-top: 20px;
    background-color:black;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #475f77 ;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#btnclear {
    margin-left: auto;
    display: inline-block;
}

.list-container {
	width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.list-box {
    width: 23%;
    background-color:black;
    border: 2px solid #475f77;;
    border-radius: 4px;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-box p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-box ul {
	max-height: 220px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.list-box ul::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 설정 */
}

.list-box ul::-webkit-scrollbar-thumb {
    background-color: white; /* 스크롤바 색상 */
    border-radius: 4px; /* 스크롤바 모서리 둥글게 */
}

.list-box ul::-webkit-scrollbar-track {
    background-color: transparent; /* 스크롤바 트랙 투명하게 설정 */
}

.list-box ul::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8); /* 마우스 올렸을 때 스크롤바 색상 */
}

/* 스크롤바가 스크롤할 때만 나타나도록 설정 */
.list-box ul::-webkit-scrollbar {
    display: none;
}

.list-box ul:hover::-webkit-scrollbar {
    display: block;
}

.list-box li {
    padding: 10px;
    border-bottom: 1px solid #475f77;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}
#movieList li {
	cursor: pointer;
	display: flex;
}
#dateList li {
	cursor: pointer;
}
#theaterList li {
	cursor: pointer;
}
#timeList li {
	cursor: pointer;
}
#movieList li:hover {
	background-color:#475f77 ;
}
#dateList li:hover {
	background-color:#475f77 ;
}
#theaterList li:hover {
	background-color:#475f77 ;
}
#timeList li:hover {
	background-color:#475f77 ;
}
#timeList li.past-time:hover {
    background-color: inherit;
}
.list-box li.selected {
    background-color: #475f77 ;
    color: #fff;
}

.date-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* .date-wrapper span { */
/*     width: 50%; */
/* } */

.date-wrapper .day {
    text-align: left !important;
}

.date-wrapper .date {
    font-weight: bold !important;
    text-align: right !important;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}

#button {
    padding: 5px;
    margin-top: 20px;
    width: 100px;
    max-width: 120px;
}

.seat-selection {
    display: none;
    width: 100%;
    height: 450px;
    margin-top: 20px;
    background-color:black;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size:12px;
}

.seat-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.seat-row-lavel {
	width: 15px;
    height: 15px;
    margin: 1px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    font-size: 12px;
}
.seat {
    width: 17px;
    height: 17px;
    margin: 1px;
    background-color: #666;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
}

.seat.selected {
    background-color: #475f77;
}

.seat.occupied {
    background-color: #bbb;
    cursor: not-allowed;
    color: #fff;
}

.foots {
	width: 100%;
    font-size: 13px;
    margin-top: 20px;
    bottom: 0;
    padding: 10px;
    z-index: 1000; /* 다른 요소 위로 나오도록 설정 */
    position: relative;
}

.foots-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#btnclear {
    margin-left: auto;
}

#seatinfo {
    display: none;
}

.additional-info {
    display: flex;
}

#adultpernum, #youthpernum {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

#adultpernum li, #youthpernum li {
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#adultpernum li.selected, #youthpernum li.selected {
    color: #ffffff;
    background-color: #475f77;
}

.peradult, .peryouth {
    display: flex;
    align-items: center;
}

.pern {
    width: 80px;
    padding: 5px;
    font-weight: bold;
}

img {
    width: 100px;
    height: 150px;
    border-radius: 4px;
}

#theaterInfo, #movieTime, #personInfo {
	height:8px;
	font-size: 12px;
}

#gochart {
    color: white;
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
}

#gochart:hover {
    color: red;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px; /* 너비 설정 */
    height: 90px; /* 높이 설정 */
    background-color: #222;
    border: 2px solid #d4af37; /* 황금색 테두리 */
    border-radius: 12px; /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* 그림자 */
    position: relative;
}

.arrow-icon-a {
    font-size: 60px;
    color: #d4af37;
    transform: rotate(0deg);
    line-height: 1; /* 텍스트 높이 줄이기 */
}
.arrow-icon-b {
    font-size: 60px;
    color: #d4af37;
    transform: rotate(180deg);
    line-height: 1; /* 텍스트 높이 줄이기 */
}

.button-text {
    font-size: 20px;
    color: #d4af37;
    margin-top: -5px; /* 화살표와 텍스트 간격 조정 */
    line-height: 1; /* 텍스트 높이 줄이기 */
}

.button-container::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: 12px;
    border: 1px solid #d4af37;
}
#reserveBtn {
	cursor: pointer;
}
#submitBtn {
	cursor: pointer;
}
#btnclear {
	background-color: #222;
	border: 3px solid #475f77;
	border-radius: 12px;
	transition: color 0.3s ease;
	cursor: pointer;
	float: right;
	margin:3px;
	padding:3px;
	margin-bottom:5px;
	font-size:14px;
}
#btnclear:hover {
    color: red;
}
#timeList li.past-time {
    color: gray;
    text-decoration: line-through;
    cursor: not-allowed;
}
