body {
   
    margin: 0;
    padding: 0;
    background-color: black; /* 페이지 배경색을 검정으로 설정 */
    color: white; /* 전체 글씨색을 흰색으로 설정 */
}

#container {
    max-width: 1000px; /* 최대 너비를 1000px로 설정 */
    margin: 20px auto; /* 상하 여백 20px, 좌우 자동으로 중앙 배치 */
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#contents {
    width: 1000px; /* 컨텐츠 영역의 너비를 100%로 설정 */
    display: flex; /* 자식 요소들을 왼쪽 정렬 */
}

.sidebar {
	background-color: black; /* 사이드바 배경색 */
	color: white;
	border: 2px solid #808080;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 사이드바 그림자 효과 */
    height: fit-content; /* 내용에 맞춘 높이 */
	border-radius: 10px; /* 모서리 둥글게 */
	flex: 1 1 15%; /* 전체 공간에서 30% 차지 */
}
.sidebar ul {
    list-style-type: none;
    padding: 5px;
}

.sidebar ul li {
    margin-bottom: 20px; /* 항목 간의 여백 15px */
}

.sidebar ul li a {
	text-decoration: none; /* 링크 밑줄 제거 */
	color: #808080; /* 텍스트 색상 */
	font-weight: bold; /* 텍스트 굵게 */
	transition: color 0.3s ease; /* 색상 변경 시 애니메이션 추가 */
}

.sidebar ul li a:hover {
   color: #808080; /* 사이드바 링크 hover 색상 */
   font-size:17px;
}

.sidebar ul li.on a {
    background-color: #808080; /* 현재 페이지 호버 색상 */
    color: white; /* 현재 페이지 글씨 색상 */
}

.sidebar ul li.on a:hover {
    background-color: white; /* 호버 시 색상 변경 */
    color: white; /* 호버 시 글씨 색상 변경 */
}
.hover-item a {
    color: white; /* 기본 상태에서 글씨 색상 */
    font-size: 15px; /* 기본 상태에서 폰트 크기 */
    background-color: white; /* 기본 상태에서 배경색 */
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 5px; /* 패딩 추가 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}

.hover-item a:hover {
    color: #3a3d3f; /* 호버 상태에서 글씨 색상 */
    font-size: 19px; /* 호버 상태에서 폰트 크기 */
    background-color: #3a3d3f; /* 호버 시 배경색 변경 */
    border-radius: 5px; /* 모서리 둥글게 유지 */
    padding: 5px; /* 패딩 유지 */
}


.col-detail {
	width:1000px;
    padding: 15px;
    margin-left: 10px;
    background-color: black; /* 메인 콘텐츠 배경색 */
    color: white; /* 메인 콘텐츠 글씨색 */
    border:  2px solid #808080; /* 메인 콘텐츠 테두리색 */
    border-radius: 10px; /* 모서리 둥글게 설정 */
    flex: 1 1 100%; /* 전체 공간에서 70% 차지 */  
}


.search_area input {
    padding: 10px; /* 패딩 10px */
    border: 1px solid #fff; /* 테두리 색상 흰색으로 설정 */
    border-radius: 4px; /* 모서리 둥글게 설정 */
    color: black; /* 검색 박스 텍스트 색상 */
    flex: 1; /* 가용 공간을 최대한 활용 */
}


.search_area button {
    padding: 10px 15px;	 /* 패딩 10px */
    background-color: #e50914; /* 버튼 배경색 */
    color: white; /* 버튼 글씨색 */
    border: none; /* 테두리 없음 */
    border-radius: 4px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 포인터로 변경 */
    flex: 0; /* 버튼의 너비를 내용에 맞게 조정 */
    font-size: 0.9em; /* 폰트 크기 0.8em */
}

.search_area button:hover {
    background-color: #d10813; /* 버튼 hover 색상 */
}

.c_check_warp {
    display: flex;
    justify-content: space-between; /* 좌우에 공간을 고르게 배치 */
    gap: 20px; /* 박스 간의 간격 */
    width: 100%;
    flex-wrap: wrap; /* 박스가 여러 줄로 배치될 수 있도록 설정 */
}

.c_box {
    flex: 1; /* 박스들이 동일한 너비를 가지도록 설정 */
    min-width: 150px; /* 박스의 최소 너비를 설정 (필요에 따라 조절) */
    padding: 15px; /* 패딩 15px */
    box-sizing: border-box; /* 박스 모델을 테두리와 패딩을 포함하도록 설정 */
    background-color: black; /* 박스 배경색 */
    color: white; /* 박스 내 글씨색 */
    border: 2px solid #808080; /* 박스 테두리색 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
}


.button, .btn_add {
    background-color: #e50914; /* 버튼 배경색 */
    color: white; /* 버튼 글씨색 */
    padding: 10px 15px; /* 패딩 10px 15px */
    text-align: center; /* 텍스트 중앙 정렬 */
    border-radius: 4px; /* 모서리 둥글게 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
    display: inline-block; /* 인라인 블록으로 설정 */
    margin-top: 10px; /* 상단 여백 10px */
}

.button:hover, .btn_add:hover {
    background-color: #d10813; /* 버튼 hover 색상 */
}

.c_qu a, .service_area .list a, .notice_area a {
    color: white; /* 링크 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-right: 10px; /* 링크 간의 간격 10px */
}

.c_qu a:hover, .service_area .list a:hover, .notice_area a:hover {
    text-decoration: underline; /* 링크 hover 시 밑줄 추가 */
}

.customer_notice_area {
    margin-bottom: 20px; /* 하단 여백 20px */
    padding: 10px; /* 패딩 10px */
    background-color: black; /* 고객 알림 배경색 */
   
    border-radius: 5px; /* 모서리 둥글게 설정 */
    color: white; /* 고객 알림 글씨색 */
    display: flex; /* 그리드 레이아웃 사용 */
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 레이아웃 설정 */
    gap: 20px; /* 요소 간의 간격 20px */
}

.service_area, .notice_area {
    padding: 15px; /* 패딩 15px */
    background-color: black; /* 배경색 검정으로 설정 */
    color: white; /* 글씨색 흰색 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    border: 2px solid #808080; /* 흰색 테두리 추가 */
}

.service_area {
	flex : 40;
    float: left; /* 왼쪽으로 플로트 */
}

.notice_area {
	flex: 60; 
    float: right; /* 오른쪽으로 플로트 */
}	

.service_area .tit {
    font-size: 1.5em; /* 제목 폰트 크기 1.5em */
    margin-bottom: 10px; /* 하단 여백 10px */
}

.notice_area .tit {
    font-size: 1.5em; /* 제목 폰트 크기 1.5em */
    margin-bottom: 10px; /* 하단 여백 10px */
    list-style: none; /* 점 제거 */
}

.faq_button {
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 배치 가능 */
    justify-content: space-between; /* 버튼 사이에 공간을 균등 배분 */
    gap: 10px; /* 버튼 간의 간격 조정 */
}

.button-link {
    flex: 0 0 calc(33%); 
    padding: 10px; /* 버튼 패딩 조정 */
    font-size: 1.0em; /* 폰트 크기 조정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-bottom: 10px; /* 하단 여백 10px */
    color: white; /* 버튼 글씨색 흰색 */
    border: 2px solid #808080; /* 버튼 테두리 색상 */
    border-radius: 5px; /* 버튼 모서리 둥글게 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.button-link:hover {
    background-color: #d10813; /* 버튼 hover 시 배경색 변경 */
    border: 2px solid white; /* hover 시 테두리 색상 유지 */
}

.notice_more_btn {
    display: inline-block;
    padding: 1px 10px; /* 버튼의 패딩 설정 */
    font-size: 1.2em; /* 버튼의 폰트 크기 설정 */
    color: black; /* 버튼 글씨 색상 */
    background-color: black; /* 버튼 배경 색상 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border-radius: 5px; /* 둥근 버튼을 위해 5px 설정 */
    border: 2px solid white; /* 흰색 테두리 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-left: 5px; /* 공지사항과의 간격 설정 */
   
}

.notice_more_btn:hover {
    background-color: white; /* 버튼 hover 시 배경색 변경 */
    border-color:white;
}

.notice_area .list {
    list-style-type: none; /* 기본 점 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.notice_area .list li {
    display: flex; /* Flexbox로 설정 */
    justify-content: space-between; /* 공간을 균등하게 배분 */
    align-items: center; /* 수직 정렬 */
    margin-bottom: 10px; /* 항목 간의 간격 조정 */
}

.notice_area .list a.notice_list {
    flex: 1; /* 공지사항 제목이 가용 공간을 차지하도록 설정 */
    max-width: 400px; /* 날짜 너비를 고려하여 최대 너비 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 넘치는 내용에 ... 표시 */
    white-space: nowrap; /* 줄 바꿈 방지 */
}

.notice_area .list a.notice_list:hover {
    text-decoration: underline; /* 링크 hover 시 밑줄 추가 */
}
.notice_area .list .notice_date {
    width: 100px; /* 고정 너비 설정 */
    text-align: right; /* 오른쪽 정렬 */
    color: #ccc; /* 날짜 색상 조정 */
}

.emoji-search, .emoji-email, .emoji-center {
    display: inline-block;
    width: 70px; /* 이미지의 너비 */
    height: 70px; /* 이미지의 높이 */
    background-size: contain; /* 이미지 크기 조절 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    vertical-align: middle; /* 텍스트와 이미지 정렬 */
    background-color: white;
}

.emoji-search {
    background-image: url('/service/search.png'); /* 이미지 경로 */
}

.emoji-email {
    background-image: url('/service/email.png'); /* 이미지 경로 */
}

.emoji-center {
    background-image: url('/service/center.png'); /* 이미지 경로 */
}