@charset "UTF-8";

html, body, div, applet, object, iframe, h2, h3, h4, h5, h6, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
 legend, table, caption{
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
    text-align:center;
    
}
.title{
	margin-top:80px;
	margin-bottom:50px;
}
body{
	background-color:black;
	color:white;
}
a:visited {
            color: black;
}
a:link{
	  color: black;
	  text-decoration: none;
	
	 }
span{
	font-size:13px;
}
.mname{
	font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-all;
    text-align:center;
    font-size:23px
}
.container {
    display: flex;
    flex-direction: column; /* 수직으로 쌓기 */
    align-items: flex-start; /* 왼쪽으로 붙이기 */
    gap: 0px; /* 요소 간 간격 */
    padding: 0px; /* 패딩 */
    border: 1px solid black; /* 테두리 */
           
}
.notice{
	background-color:black;
	border:none;
	width:1000px;
	padding-bottom:20px;
	padding-top:10px;
	margin-right:20px;
	text-align:right;
	font-size:15px
	
}
.container a{
	 text-decoration: none;
	 display: block;
	 width: 100%;
     height: 100%;
     text-align:left;
}
.container a:visited {
            color: white; /* 방문한 링크 색상 */
        }
.background-image {
            position: absolute; /* 절대 위치로 배치 */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1; /* 다른 요소들보다 뒤로 위치 */
            object-fit: cover; /* 이미지 비율 유지 및 컨테이너 크기에 맞게 조정 */
            
        }
.item {		
		 opacity: 0.9;
		padding-left:10px;
		border-left:7px solid #475f77;
		line-height: 50px;
		color: white;
        width: 100px;
        height: 50px;
        background-color: black;
        transition: background-color 0.3s ease, transform 0.3s ease;
        position: relative; /* 기본 위치 설정 */
        z-index: 2; /* 배경 이미지보다 위로 위치 */      
        }
.item:hover {
       background-color: black; /* 호버 시 배경색 변경 */
       transform: scale(1.1); /* 호버 시 크기 확대 */
}
#contents {
	clear: both;
    padding-bottom: 50px;
    position: relative;
    margin: auto;
    margin-top: 130px; 
	margin-bottom:150px;
    height:100%;
    width:1700px;
}
.info {
	margin:auto;
	background-color:black;
	width:1500px;
	height:150px;
	color:white;
	border-bottom:1px solid #808080;
	/* position: absolute; */
}
.infoleft {
	position: relative;
    float: left;
    font-size: 15px;
    padding: 30px 20px 0 200px;
    width: 600px;
    color: white;
    text-overflow: initial;
    white-space: initial;
    text-align:left;
}
.inforight {
    position: relative;
    float: right;
    font-size: 15px;
    width: 500px;
    height: 98px;
    padding: 30px 0 0 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    text-align:left;
    }

.link-more {
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(https://img.cgv.co.kr/R2014/images/sprite/sprite_btn.png) -50px -62px no-repeat;
    vertical-align: middle;
    font: 0 / 0 a;
    zoom: 1;
}

.sect-schedule .slider {
    overflow: visible;
    position: relative;
    height: 48px;
    padding: 12px 0;
}
.slider {
    z-index: 1;
    width: 100%;
}
.showtimes-wrap .sect-schedule {
    width: 100%;
    height: 111px;
    border-top: 3px solid #241d1e;
}
.calendar-container {
    width:1000px;
    background-color: white;
    border: none;
    overflow: hidden;
    
    
}
.calendar-body {
    padding: 10px;
    background-color:black;
    
}
/* td{
	border-radius:6px;
} */

#calendar-table {
    width: 100%;
    border-collapse: collapse;
    
}

#calendar-table th, #calendar-table td {
	color:white;
    width: 14;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    
}

.td-link{
 cursor: pointer;
 width:70px;
 border:1px solid white;
}
.td-out{
 width:70px;
 border: 1px solid #ddd;
 background-color: #525355;
}
.td-link a{
 color:white;
}
.td-link:hover a{
	background-color:#475f77;
}
.td-link:hover {
    background-color:#475f77;
 }
#calendar-table thead th:hover {
	cursor: pointer;
	background-color:#475f77;
}

button {
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

button:focus {
    outline: none;
}
.timelistdiv {
	border-top:1px solid #808080;
	margin-bottom:20px;
	color:white;
	
}
.ldiv{
	border-top:2px solid #808080;
	text-align:left;
	padding-top:15px;
}
.roomdiv {
	height:60px;
	border:none;
	margin-left:20px;
	margin-bottom:35px;
}
.timelistdiv a:visited{
	 	color:white;
}
.roomname {
	font-size:15px;
}
#parktext{
	border-bottom:1px solid #808080;
	padding-bottom:15px;
	margin-bottom:15px;
	text-align:left;
}
#addresslink{
	text-align:right;
}
#adda{
	width:130px;
	display:inline;
	border:2px solid #808080;
	cursor:pointer;
	padding:5px 5px 5px 5px;
}
#adda:hover{
	background-color:#6a768a;
}
#hiddenDivp {
   width:700px;
   height:400px;		
   display: none;
   position: absolute;
   background-color: black; 
   padding: 20px;
   border: 5px solid #384963;
   z-index: 900; 
   margin-left:230px;
   margin-top:710px;
   text-align:left;
}
#hiddenDivp a{
	color:white;
}
#hiddenDiv {
   width:550px;
   height:550px;		
   display: none;
   position: absolute;
   background-color: black; 
   padding: 20px;
   border: 5px solid #384963;
   z-index: 900; 
   margin-left:330px;
   margin-top:15px;
}

#hiddenDiv span{
	font-size:30px;
	font-weight: bold;
}
.agetop{
	border-bottom:1px solid #808080;
	margin-bottom:25px;
	padding-bottom:20px;
}
.parktop{
	border-bottom:1px solid #808080;
	margin-bottom:15px;
	padding-bottom:10px;
}
#hiddenDiv table {
        margin: auto;
        border-collapse: collapse; 
        vertical-align:middle;
}
#hiddenDiv table thead {
	background-color:#575656;
	height:30px;
}
 #hiddenDiv thead th:nth-child(1) {
            width: 150px;
            text-align: left;
            padding: 0 0 0 10px;
            vertical-align: middle;
        }
 #hiddenDiv thead th:nth-child(2) {
            width: 350px;
            text-align: left;
            border-left:1px solid #808080;
            padding: 0 0 0 10px;
            vertical-align: middle;
        }
#hiddenDiv tbody td:nth-child(1) {
            width: 150px;
            text-align: left;
        }
 #hiddenDiv tbody td:nth-child(2) {
            width: 350px;
            text-align: left;
            border-left:1px solid #808080;
        }
 #hiddenDiv tbody td{
 	border-top:1px solid #808080;
 	border-bottom:1px solid #808080;
 	padding: 10px 10px 10px 10px;
 }
.imgt{
	 vertical-align: middle; /* 이미지의 수직 정렬을 중앙으로 설정 */
     padding-right: 5px;
}