@charset "UTF-8";
 body{
	color:white;
} 
.manager-page{
	margin-top:170px;
	margin-bottom:120px;
	height:600px;
	
}
.movieinsert1{
	border:1px solid white;
	width:300px;
	margin:15px;
	height: 400px;
	border-radius:6px;
}
.movieinsert2{
	border:1px solid white;
	width:1000px;
	margin:15px;
	 height: 400px;
     overflow-y: auto; 
     border-radius:6px;
}
.movieinsert3{
	border:1px solid white;
	width:300px;
	margin:15px;
	 height: 540px;
     overflow-y: auto; 
     border-radius:6px;
}
.movieinsert4{
	border:1px solid white;
	margin:15px;
	width:1500px;
	 height: 540px;
     overflow-y: auto; 
     border-radius:6px;
}
.iteminfo{
	border:1px solid white;
	margin:15px;
	width:300px;
	 height:500px;
     overflow-y: auto; 
     border-radius:6px;
     border-radius:6px;
}
.itembox{
	border:1px solid white;
	margin:15px;
	width:985px;
	 height: 500px;
     overflow-y: auto; 
     border-radius:6px;
}
.answerbox{
	border:1px solid white;
	margin:15px;
	width:700px;
	 height: 560px;
     overflow-y: auto; 
     border-radius:6px;
}
.newsupbox{
	border:1px solid white;
	margin:15px;
	width:700px;
	 height: 600px;
     overflow-y: auto; 
     border-radius:6px;
}
.newsbox{
	border:1px solid white;
	margin:15px;
	width:985px;
	 height: 600px;
     overflow-y: auto; 
     border-radius:6px;
}
.inquirybox{
	border:1px solid white;
	margin:15px;
	width:985px;
	 height: 560px;
     overflow-y: auto; 
     border-radius:6px;
}
.detailbox{
	border:1px solid white;
	margin:15px;
	width:480px;
	 height: 480px;
     overflow-y: auto; 
     border-radius:6px;
}
.mselect{
	width:180px
}
.container{
    display: flex;
    width:2000px;
    position: absolute;
    top: 250px;
    visibility: hidden; /* 요소를 숨기지만 공간은 유지 */
   	opacity: 0;
   	
}
.visible {
    visibility: visible; /* 요소를 보이게 함 */
    opacity: 1; /* 요소를 불투명하게 함 */   
}
thead tr{
	position: sticky;
	 top: 0; 
     z-index: 10; 
     background-color:white;
     
}
#schedules tbody td,
#movieinfo tbody td,
#itemlist tbody td,
#detaillist tbody td,
#inquirylist thead td,
#newslist thead td{
	height:40px;
}
.movietext{
	   max-width: 150px; 
       max-height: 100px;
       overflow: auto; 
       white-space: nowrap; 
}
#schedules thead td,
#movieinfo thead td,
#itemlist thead td,
#detaillist thead td,
#inquirylist thead td,
#newslist thead td{
	border-bottom:2px solid white;
	background-color:black;
}
input,textarea,select{
	border-radius:5px;
}
