@charset "UTF-8";

body {
    background-color:black;
    color:white;
}

.maincontainer {
    width: 900px;
    margin: auto;
    background-color:black;
    position: relative;
    display: flex;
    flex-direction: column; /* 수직 방향으로 정렬 */
    align-items: center;
   	margin-top:80px;
}

.top {
	display:flex;
	position: relative;
	width:900px;
	height:400px;
}
.top img {
    width: 300px;
    height: 400px;
    display: block;
}
.mid {
	width:790px;
	margin-top:50px;
	height:80px;
}
.midlist {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 750px;
    color: #c7b199;
    border-top: 2px solid #c7b199;
    border-bottom: 2px solid #c7b199;
    margin: 0px;
    height:25px;
}
.midlist li {
	width:90px;
    margin-right: 20px;
    font-size: 18px;
}
ul {
	padding: 0;
    margin: 0;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.Listonbtn, .nowbtn, .cutbtn, .revbtn, .thebtn, .actbtn {
	cursor: pointer;
	transition: color 0.3s ease;
}
.Listonbtn:hover, .nowbtn:hover, .cutbtn:hover, .revbtn:hover, .thebtn:hover, .actbtn:hover {
	color: #3a3d3f;
	font-size:20px;
}

.bot {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
}


.director-section, .cast-section, .cut-section {
    width: 100%;
    margin-bottom: 20px;
}

.director-section > div, .cast-section > div, .cut-section > div{
    font-size: 24px;
    margin-bottom: 10px;
}

#dirimg, #castimg, #cutimg {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.actorimg {
    width: 150px;
    height: 200px;
}

.allcutimg {
    width: 30%;
    height: auto;
    box-sizing: border-box;
}
.allinfo {
	display: flex;
	width:500px;
    flex-direction: column;
    justify-content: flex-end;
    
}
.inimg {
	padding-left:60px;
}
.rescell, .director, .cast, .thrinfo, .reldate, .goticket {
	text-align:left;
	padding-left:20px;
	height:40px;
}
.mnamecell {
	text-align:left;
	padding-left:20px;
	height:70px;
	font-size:32px;
	color:grey;
}
.emptya {
	height:80px;
}
.emptyb {
	height:40px;	
}
.ticbtn {
	cursor: pointer;
	color:red;
	transition: color 0.3s ease;   
}
.goticket {	
	width:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticbtn:hover {
	color: #3a3d3f;
	font-size:20px;	
}