@charset "UTF-8";
/* src/main/resources/static/login_css/login.css */
.login-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.login-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3a3d3f;
}

.error-message {
    color: red;
    text-align: center;
}
