@charset "UTF-8";

/* 로그인 페이지 스타일 */
.login-page {
    max-width: 400px;         /* 최대 너비 설정 */
    margin: 0 auto;           /* 중앙 정렬 */
    padding: 20px;            /* 여백 설정 */
	border: 2px solid #808080;
    border-radius: 8px;       /* 모서리 둥글게 */
   /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */ /* 그림자 추가 */
   	margin-top: 30px;          /* 상단 여백 추가 ->> 이게 다른페이지들에 다 있으면 좋겠네! */
    margin-bottom: 400px;

}

.login-page h2 {
    text-align: center;       /* 제목 중앙 정렬 */
    margin-bottom: 20px;      /* 제목과 폼 사이의 간격 설정 */
    font-size: 24px;          /* 제목 크기 설정 */
    color: #ffffff;           /* 제목 색상 설정 */
}

.form-group {
    margin-bottom: 20px;      /* 폼 그룹 간격 설정 */
}

.form-group label {
    display: block;           /* 라벨을 블록 요소로 설정 */
    margin-bottom: 8px;       /* 라벨과 입력 필드 간의 간격 설정 */
    font-weight: bold;        /* 라벨 텍스트 굵게 */
   /*  color: #666666;  */          /* 라벨 텍스트 색상 설정 */
   color: #ffffff;
}

.form-group input { /* 입력필드 css*/
    width: 300px;              /* 입력 필드 너비 */
    padding: 10px;           /* 입력 필드 안쪽 여백 설정 */
    border: 1px solid #cccccc;  /* 입력 필드 테두리 색상 설정 */
    
	text-align: center;
	
    border-radius: 4px;       /* 입력 필드 모서리 둥글게 */
    box-sizing: border-box;   /* 테두리와 여백을 너비에 포함 */
}

button {
    width: 300px;              /* 버튼 너비  */
    padding: 12px;           /* 버튼 안쪽 여백 설정 */
    background-color: #3a3d3f; /* 버튼 배경색 설정 */
    color: white;             /* 버튼 텍스트 색상 설정 */
    border: none;             /* 버튼 테두리 제거 */
    border-radius: 4px;       /* 버튼 모서리 둥글게 */
    cursor: pointer;          /* 마우스 커서 포인터로 설정 */
    font-size: 16px;          /* 버튼 텍스트 크기 설정 */
    font-weight: bold;        /* 버튼 텍스트 굵게 */
    transition: background-color 0.3s; /* 배경색 변경 시 애니메이션 추가 */
}

button:hover {
    background-color:#808080; /* 버튼 hover 시 배경색 변경 */
}

.error-message {
    color: red;               /* 에러 메시지 색상 설정 */
    text-align: center;       /* 에러 메시지 중앙 정렬 */
    margin-top: 25px;         /* 에러 메시지와 상단 요소 간의 간격 설정 */
    font-size: 17px;          /* 에러 메시지 크기 설정 */
}



/* 로그인 링크 스타일 */
.login-links {
    margin-top: 40px;         /* 링크와 폼 간의 간격 설정 */
    text-align: center;       /* 링크 중앙 정렬 */
    margin-bottom: 20px;
}

.login-links a {
    color: #ffffff;           /* 링크 색상 설정 */
    text-decoration: none;    /* 링크 밑줄 제거 */
    margin: 0 10px;           /* 링크 사이의 간격 설정 */
    
}

.login-links a:hover {
    /* text-decoration: underline; */ /* 링크 hover 시 밑줄 추가 */
    color: red;           /* 링크 색상 설정 */
}


/* 웹 화면 여백 조정 */
@media (min-width: 1024px) {
    .signup-page {
        padding-bottom: 0px;
    }
}
